.btn-Whatsapp{
    background-color: #76AF99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (min-width: 1080px) {
    .btn-Whatsapp{
        bottom: 50px;
        right: 50px;
        height: 70px;
        width: 70px;

    }
}
